searchx-input[type=text] {
  border: 4px solid #b710cc;
  border-radius: 4px;
  padding: 10px;
}

.searchx-title {
    text-align: center;
    font-family: 'Crafty Girls', cursive;
    font-size: 40px;
}


.searchx-boldspan {
    font-weight: bold;
}

.searchx-snippet {
    border-radius: 4px;
    padding-bottom: 20px;
    width: 700px;
    text-align: left;
}

.searchx-url {
    border-radius: 4px;
    padding: 5px;
    width: 700px;
    text-align: left;
}

.searchx-num-results {
    border-radius: 4px;
    padding-bottom: 20px;
    width: 700px;
    text-align: left;
}